html, body {
    height: 100%;
}
body {
    margin: 0;
}
.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 300px;
    height: 300px;
    border: 1px solid blue;
}

.princess{
    width: 70px;
    height: 70px;
    background-color: #CD93F9;
    border-radius: 50px;
    border-top: 2px solid black;
    margin-left: 115px;
}